<div class="banner">
    <div class="content">
<!--        <h1 class="mb-5">Hotel La Posada Norteña <br/> Panamericana Norte Km 780 Lambayeque Peru </h1>-->
<!--        <a routerLink="menu">Ver habitaciones<i class="bi bi-arrow-right"></i></a>-->
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">

    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Estacionamiento</h1>
<!--                <p>Baño privado en la habitación</p>-->
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Restaurante</h1>
<!--                <p>Agua caliente</p>-->
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Habitaciones</h1>
<!--                <p>Baño privado en la habitación, Agua caliente, TV pantalla plana con Cable, Escritorio</p>-->
            </div>
        </div>
    </div>
</div>
<h1 class="text-center"><span class="highlight">Nuestras habitaciones incluyen</span></h1>


<div class="container mt-5 mb-5">

  <div class="row mt-5">
    <!-- one  -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>Baño privado</h1>
        <!--                <p>Baño privado en la habitación</p>-->
      </div>
    </div>
    <!-- two -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>Agua caliente</h1>
        <!--                <p>Agua caliente</p>-->
      </div>
    </div>
    <!-- three  -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>TV plana con Cable</h1>
        <!--                <p>Baño privado en la habitación, Agua caliente, TV pantalla plana con Cable, Escritorio</p>-->
      </div>
    </div>
  </div>
</div>
<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center"><span class="highlight">Tipo de habitaciones</span></h1>
    <div class="row">
        <div class="col-lg-4 mt-3" *ngFor="let fd of foodData;index as i">
            <div class="foodbox" *ngIf="i<=4">
                <img src="{{fd.foodImg}}" />
                <h1>{{fd.foodName}}</h1>
              <b><p style="color:red">{{fd.foodPrice | currency:'S/ '}} <a class="buybtn" [routerLink]="['/galeria',fd.id]">Ver galeria &nbsp;<i class="bi bi-bag"></i></a></p></b>

            </div>

        </div>
    </div>


</div>
<h1 class="text-center"><span class="highlight">Restaurante 3° Piso</span></h1>

<!--<div>-->
<h2 class="container mt-5"><span class="highlight">Platos a la carta</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of platoData;index as i">
    <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Sandwiches</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of sandwichData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Omelette</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of omeletteData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Bebidas Calientes</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of bebidasCalientesData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Bebidas Frias en Vaso</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of bebidasFriasVasoData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Bebidas Frias en Jarra</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of bebidasFriasJarraData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Jugos en Vaso</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of jugosVasoData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<h2 class="container mt-5"><span class="highlight">Jugos de leche en Vaso</span></h2>
<div class="container mt-4 "></div>
<div class="container mt-3 " *ngFor="let fd of jugosLecheVasoData;index as i">
  <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>
</div>
<!--</div>-->
<div class="container mt-5">
  <iframe class="container mt-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.4767305387195!2d-79.90331068522828!3d-6.71152599514784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904cedeb0b5b9f6d%3A0x67644420a7a9830!2sHOTEL%20LA%20POSADA%20NORTE%C3%91A!5e0!3m2!1sen!2sde!4v1642226024276!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<!--<div class="container">-->
<!--&lt;!&ndash;  <h2 class="container mt-5"><span class="highlight">Omelette</span></h2>&ndash;&gt;-->
<!--  <div class="row">-->
<!--    <div class="col-lg-6 mt-2" *ngFor="let fd of testLoop; index as i">-->

<!--&lt;!&ndash;      <p class="margin-left2"><span>{{fd.platoNombre}}</span><span style="color:red">{{fd.platoPrecio | currency:'  S/ '}}</span></p>&ndash;&gt;-->


<!--      <h2><span class="highlight">Bebidas Calientes</span></h2>-->


<!--        <p class="margin-left2" *ngFor="let fd of bebidasCalientesData;index as i"  >{{fd.platoNombre}} {{fd.platoPrecio | currency:'  S/ '}}</p>-->

<!--      <h2><span class="highlight">Jugos en Vaso</span></h2>-->

<!--        <p class="margin-left2" *ngFor="let fd of jugosVasoData;index as i">{{fd.platoNombre}}{{fd.platoPrecio | currency:'  S/ '}}</p>-->

<!--  </div>-->

<!--</div>-->

<!--</div>-->
